<h1>Display results here</h1>
<h2>Weather for <%=params['zip']%></h2>

<!-- Display weather and location -->
<div class='current'>
</div>
<div class='forecast' id='forecast-1'>
</div>
<div class='forecast' id='forecast-2'>
</div>
<div class='forecast' id='forecast-3'>
</div>
<div class='forecast' id='forecast-4'>
</div>
<div class='forecast' id='forecast-5'>
</div>
<div class='forecast' id='forecast-6'>
</div>
