<h1>Weather for Zip Code <%=params['zip']%></h1>

<!-- Display weather and location -->
<% Forecast.get_last_seven(params['zip']).each do |report| %>
  <div>
  </div>
<% end %>

<%= link_to 'home', root_path %>
