<!-- Form to enter zip code for weather -->
<!-- Form to enter forecast date (defaults to today) -->
<!-- Display weather and location -->
<%= form_tag("/search", method: "get") do %>
<% end %>
<div class='current'>
</div>
<div class='forecast' id='forecast-1'>
</div>
<div class='forecast' id='forecast-2'>
</div>
<div class='forecast' id='forecast-3'>
</div>
<div class='forecast' id='forecast-4'>
</div>
<div class='forecast' id='forecast-5'>
</div>
<div class='forecast' id='forecast-6'>
</div>
